header {
  height: 75px;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  margin-bottom: 0px;
  width: 100%;
}

.main {
  margin: 0px;
  height: 400px;
  background-image: url(./이미지/배경.png);
  position: absolute;
  top: 75px;
  width: 100%; /* 화면 너비에 맞게 조정 */
  background-size: cover; /* 배경 이미지가 컨테이너에 맞도록 설정 */
}

.footer {
  background-color: white;
  margin-top: 500px;
}
.mainbutton {
  width: 100px;
  height: 50px;
  border-bottom-right-radius: 6px;
  margin-left: 100px;
  margin-top: -13px;
}
header > span:first-of-type {
  margin-top: 30px;
}
body {
  background-color: #f4f4f4;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
}

.introduce {
  position: absolute;
  left: 1130px;
  top: 25px;
  font-size: large;
  user-select: none;
  margin-left: -150px;
  font-family: 'Noto Sans KR', sans-serif;
}

.sinmungo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1000px;
  top: 25px;
  font-size: large;
  user-select: none;
  margin-left: -150px;
  font-family: 'Noto Sans KR', sans-serif;
}

.gotomypage {
  position: absolute;
  font-size: large;
  top: 25px;
  margin-left: 938.5px; /* 조정된 값 */
  font-family: 'Noto Sans KR', sans-serif;
}

#switch {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.switch_label {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.2s;
  left: 1400px;
  top: 25px;
}
.switch_label:hover {
  background: white;
  border: 2px solid black;
}
.onf_btn {
  position: absolute;
  top: 4px;
  left: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: black;
  transition: 0.2s;
}

checking style / #switch:checked + .switch_label {
  background: black;
  border: 2px solid black;
}

#switch:checked + .switch_label:hover {
  background: black;
}

#switch:checked + .switch_label .onf_btn {
  left: 34px;
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}

.air {
  background-color: #fff;
  width: 450px;
  height: 300px;
  margin-left: 100px;
  border-radius: 2px;
  display: block;
  float: left;
  box-shadow: 5px 5px 5px -5px #979595;
  border-radius: 14px;
  margin-top: 50px;
}
.air-txt {
  font-weight: bold;
  font-size: 20px;
  margin-left: 50px;
  font-family: 'Noto Sans KR', sans-serif;
}
.title-1 {
  background-color: #edf0f5;
  border-radius: 15px;
  width: 413px;
  height: 100.8px;
  margin-top: 20px;
  margin-left: 20px;
}
.title-1-txt {
  font-size: 20px;
  border-right: 10px;
  margin-left: 30px;
  margin-top: 400px;
  font-family: 'Noto Sans KR', sans-serif;
}
.title-2 {
  background-color: #edf0f5;
  border-radius: 15px;
  width: 413px;
  height: 100.8px;
  margin-top: 20px;
  margin-left: 20px;
}
.title-2-txt {
  font-size: 20px;
  border-right: 10px;
  margin-left: 30px;
  margin-top: 400px;
  font-family: 'Noto Sans KR', sans-serif;
}
.bu {
  background-color: #003c82;
  width: 25.17px;
  height: 19px;
  border-radius: 12.87px;
  margin-top: 10px;
}

.hacpok {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  font-size: 20px;
  height: 180px;
  margin: 1rem;
  position: relative;
  width: 288.66px;
  box-shadow: 5px 5px 5px -5px #413e3e;
  border-radius: 14px;
  margin-top: 450px;
  margin-left: 101px;
}
.hacpok-text {
  font-size: 20px;
  margin-left: 20px;
  margin-top: -1px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
}

.food {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  font-size: 20px;
  height: 180px;
  margin: 1rem;
  position: relative;
  width: 288.66px;
  box-shadow: 5px 5px 5px -5px #413e3e;
  border-radius: 14px;
  margin-top: 450px;
  margin-left: 33px;
}

.text {
  font-size: 20px;
  margin-top: -1px;
  font-weight: 600;
  margin-left: 12px;
  font-family: 'Noto Sans KR', sans-serif;
}
.food-icon {
  background-color: blue;
  width: 18px;
  height: 18px;
  border-radius: 12px;
}

.sunjeong {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  font-size: 20px;
  height: 180px;
  margin: 1rem;
  position: relative;
  width: 288.66px;
  box-shadow: 5px 5px 5px -5px #413e3e;
  border-radius: 14px;
  margin-top: 450px;
  margin-left: 33px;
}
.sunjeong-text {
  font-size: 20px;
  margin-top: -1px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
}
.gita {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  font-size: 20px;
  height: 180px;
  margin: 1rem;
  position: relative;
  width: 288.66px;
  box-shadow: 5px 5px 5px -5px #413e3e;
  border-radius: 14px;
  margin-top: 450px;
  margin-left: 33px;
}
.gita-text {
  font-size: 20px;
  margin-top: -1px;
  font-weight: 600;
  font-family: 'Noto Sans KR', sans-serif;
}

.black {
  width: 1600px;
  height: 110px;
  background-color: #413e3e;
  margin-top: 800px;
}
.black-font {
  font-size: 20px;
  color: #fff;
  margin-left: 200px;
  margin-top: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
.black-font1 {
  margin-left: 5px;
  margin-top: 20px;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}
.gray {
  background-color: #943939;
  color: #fff;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}
/* top */

.topbar {
  background-color: #fff;
  padding: 10px;
}
.main-menu {
  background-color: #fff;
  padding: -4px;
  margin-left: -580px; /* 왼쪽 여백 조정 (필요에 따라 조정) */
  margin-top: 8px;
}

.main-menu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
}

.main-menu li {
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

.main-menu li:hover {
  background-color: #e0e0e0; /* 약간의 색상 차이로 가시성 개선 */
}

.main-menu li:hover .submenu {
  display: block; /* 메뉴 항목을 호버할 때 서브메뉴를 표시 */
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  z-index: 3;
  width: 200px; /* 고정 너비 */
  box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
  font-family: 'Noto Sans KR', sans-serif;
}
.underbar {
  z-index: 3;
  width: 20px;
  height: 5px;
  background-color: #e31010;
  margin-bottom: 100px;
}

.submenu ul {
  list-style-type: none;
  padding: 0;
  height: auto; /* 내용에 따라 자동 조정 */
  display: flex;
  flex-direction: column;
}

.submenu ul li {
  padding: 20px;
  cursor: pointer;
  padding: 8px; /* 기존의 20px에서 10px으로 줄여 간격을 좁힙니다 */
  margin: 0; /* 필요하다면 margin을 줄이거나 제거합니다 */
  text-align: center;
}

.submenu ul li:hover {
  background-color: #003c82; /* 호버 시 배경색 변경 */
  color: #fff; /* 호버 시 텍스트 색상 변경 */
  border-radius: 20px;
}

.font-border {
  font-family: 'Noto Sans KR', sans-serif;
}
